<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <title>danix._.kontakt</title>
</head>
<body>
<!--Hlavička-->
<div class="hlavicka">
    <center>
        <h1 class="nadpis">danix._.homepage</h1>
    </center>
    <ul id="navBar">
        <li><a href="/"> Domov</a></li>
        <li><a href="/repo">Soubory</a></li>
        <li><a href="/tasks">Úkoly</a></li>
        <li><a href="/video">Video</a></li>
        <li><a href="/quiz"> Kvíz</a></li>
        <li><a href="/contact"> Kontakt</a></li>
    </ul>
</div>

<!--Tělo stránky-->
<div class="prispevky">
    <center>
        <div class="prispevek">
            <h2 class="text">Máte dotazy?</h2>
            <form action="/submit-contact" method="POST">
                <label for="name">Jméno:</label><br>
                <input type="text" id="name" name="name" required><br>

                <label for="email">Email:</label><br>
                <input type="email" id="email" name="email" placeholder="@" required><br>

                <label for="message">Zpráva:</label><br>
                <textarea id="message" name="message" rows="5" placeholder="Dobrý den..." required></textarea><br>

                <button type="submit">ODESLAT</button>
            </form>
        </div>
    </center>
</div>
</body>
</html>
