<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>secret</title>
</head>
<body>
    <h1>.</h1>
    <h1>.</h1>
    <h1>.</h1>
    <div style="margin-top: 20px; text-align: center;">
        <a href="files/stepik.png" style="display: inline-block; padding: 15px 30px; font-size: 20px; color: white; background-color: red; text-decoration: none; border-radius: 5px;">Dounloud Now!</a>
    </div>
        <video width="560" height="315" autoplay muted loop>
            <source src="files/secret.mp4" type="video/mp4">
            Vaše zařízení nepodporuje přehrávání videí.
        </video>
    <h1>DOUNLOUD THIS FILE VERI SAFE</h1>
    <h1>DOUNLOUD THIS FILE VERI SAFE</h1>
    <p>DOUNLOUD THIS FILE VERI SAFE</p>
    <p>DOUNLOUD THIS FILE VERI SAFE</p>
</body></div>
<style>
    body {
        background-image: url('files/stepik.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        margin: 0;
        height: 100vh;
    }
</style>
</html>