* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #121212;
    color: #E0E0E0;
    line-height: 1.6;
    padding: 20px;
}

.nadpis {
    font-size: 60px;
    color: #fff;
    margin: 0;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
}

.text {
    font-size: 18px;
    color: #E0E0E0;
    text-align: center;
    margin: 20px auto;
    max-width: 800px;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
    margin-top: 30px;
}

.mainButton {
    background-color: #3d4a66;
    color: #fff;
    padding: 8px 16px; /* Zmenšené tlačítko */
    border: none;
    border-radius: 30px;
    font-weight: 600;
    font-size: 14px; /* Menší text */
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    width: calc(25% - 12px); /* Lépe se vejde na menší obrazovky */
    margin-bottom: 10px;
    text-align: center;
}

.mainButton:hover {
    background-color: #50678b;
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.hlavicka {
    background-color: #1f2330;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#navBar {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap; /* Zajištění zalomení */
    gap: 10px;
    justify-content: center;
}

#navBar li a {
    background-color: #3d4a66;
    color: #fff;
    padding: 8px 16px; /* Menší tlačítko */
    border-radius: 30px;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    text-transform: uppercase;
}

#navBar li a:hover {
    background-color: #50678b;
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.search {
    width: 80%;
    max-width: 350px;
    padding: 8px;
    border-radius: 20px;
    border: none;
    background-color: #3d4a66;
    color: #fff;
    font-size: 14px;
    text-align: center;
    outline: none;
    transition: all 0.3s ease;
}

.search:focus {
    background-color: #56688f;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    scale: 1.05;
}

/* Zajištění lepšího zobrazení na mobilu */
@media (max-width: 768px) {
    .mainButton {
        width: calc(33% - 8px); /* Menší tlačítka na mobilních zařízeních */
        font-size: 12px;
        padding: 6px 12px;
    }

    #navBar li a {
        font-size: 12px;
        padding: 6px 12px;
    }
}

.prispevek {
    flex-grow: 1;
    text-align: center;
}

.prispevky {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}